body {
  color: #666666; 
  font-size: calc(25px - 1vw);
}

.zoom:hover {
  border: 5px solid #3E7DC0 !important;
}

.card-img-top {
  width: 100vw; 
  height: calc(120px + 1.5vw);
}

.card:hover {
  box-shadow: 5px 6px 6px 2px grey;
  opacity: 1.3;
}

.card-img-top {
  width: 100vw; 
  height: calc(120px + 1.5vw);
}

.btn .button .button.btn {
    background-color:#6e80db;
  }

button.btn:hover {
  text-decoration: none;
  box-shadow: 5px 6px 6px 2px blue;
  opacity: 1.3;
}

span:hover {
  text-decoration: none;
  box-shadow: 5px 6px 6px 2px green;
  opacity: 1.3;
}
  .footer {
    background-color:#6e80db;
  }
